### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [259]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
game_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(game_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [260]:
#Count total players
unique_players = (purchase_data["SN"]).unique()
print("Total Players: " + str(unique_players.shape[0]))

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [261]:
#count unique items 
unique_items = purchase_data["Item ID"].unique()
unique_items_count = unique_items.shape[0]
# AVG Price
avg_price = purchase_data["Price"].mean()
#Total purchases
total_purchases = purchase_data["Price"].shape[0]
# Total Revenue
total_revenue = purchase_data["Price"].sum()
#Create new DataFrame
purch_analysis =pd.DataFrame({'Number of Unique Items': [unique_items_count], 'Average Price': [avg_price],
                 'Total Purchases': [total_purchases], 'Total Revenue': [total_revenue]})
purch_analysis

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     183       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [262]:
gender_counts = purchase_data["Gender"].value_counts()
gender_counts = pd.DataFrame(gender_counts)
gender_counts = gender_counts.rename(
    columns={"Gender": "Total Counts"})
gc_df = pd.DataFrame(gender_counts)
player_perc = gender_counts['Total Counts']/gender_counts['Total Counts'].sum()*100
gc_df["Percentage of Players"] = player_perc
gc_df

                       Total Counts  Percentage of Players
Male                            652              83.589744
Female                          113              14.487179
Other / Non-Disclosed            15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [263]:
purch_df = pd.DataFrame(purch_df)
#Count totals for each gender
total_counts = gender_counts['Total Counts']/gender_counts['Total Counts'].sum()
#Total price count
purch_count = purchase_data["Price"]/purchase_data["Price"].sum()
total_purch_val = purchase_data["Price"].sum()/total_counts
# Rename Total Counts
purch_df = purch_df.rename(
    columns={"Total Counts": "Purchase Count"})
# calculations
purch_df['Average Purchase Price'] = avg_price/total_counts*100
purch_df['Total Purchase Value'] = total_purch_val
purch_df['Avg Total Purchase per Person'] = total_purch_val/total_counts
purch_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person,Age Group
Male,652,364.995399,2846.964110,3.405877e+03,NaN
Female,113,2105.991150,16426.730973,1.133881e+05,NaN
Other / Non-Disclosed,15,15865.133333,123748.040000,6.434898e+06,NaN

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [264]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]
age_demo = pd.DataFrame()
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_demo["Age Group"] = pd.cut(purchase_data['Age'], bins, labels=group_labels)
age_demo.head()

  Age Group
0     15-19
1     35-39
2     20-24
3     20-24
4     20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame